{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fintech Platform{% endblock %}</title>
   

    
    <!-- CSS Unificado para toda la aplicación -->
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <h1>Fintech Platform</h1>
            <nav>
                <a href="{% url 'core:lista_productos' %}">Productos Financieros</a>
                
                <!-- Botones de autenticación -->
                {% if user.is_authenticated %}
                    <!-- Botón para cerrar sesión -->
                    <form action="{% url 'usuarios:logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">
                            Cerrar Sesión
                        </button>
                    </form>
                {% else %}
                    <!-- Botones de Iniciar Sesión y Registro si el usuario no está autenticado -->
                    <a href="{% url 'usuarios:login' %}" class="auth-link">Iniciar Sesión</a>
                    <a href="{% url 'usuarios:register' %}" class="auth-link">Registrarte</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Fintech Platform</p>
    </footer>
</body>
</html>
